body{
    background: #eeeeee;
}
/**********content*************/
.contentNav ul{
    display: -webkit-box;
    display: -moz-box;
}
.contentNav ul li{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    text-align: center;
    height: 58px;
    line-height: 58px;
    border-bottom: 2px solid #ffffff;
    background: #ffffff;
}
.contentNav ul li.current{
    background: #f7f7f7;
    border-bottom-color: #2bb4d6;
}
.contentSuggestInfoContainer{
    padding:17px 17px 0;
}
.contentSuggestInfoPanel{
    background: url("../images/contentSuggestInfoBG.jpg") no-repeat #fdfdfd;
}
.headPic{
    padding: 20px 0 10px;
}
.headPic img,.userHeadPic{
    width: 50px;
    border-radius: 50%;
    border:2px solid #ffffff;
}
.smallPic{
    width:25px;
}
.authorInfo li{
    text-align: center;
    margin-bottom: 5px;
}
.authorInfo .nickName{
    font-size: 1.2em;
}
.authorInfo .title{
    margin-bottom: 15px;
}
.authorInfo .title span{
    font-size: 0.75em;
    color:#ffffff;
    background: #2bb4d6;
    padding:3px 6px;
    border-radius:3px;
}
.contentSuggestInfoPanel article{
    color:#4b4b4b;
    letter-spacing: 2px;
    font-size: 1em;
    padding:16px;
}
.contentSuggestInfoPanel article h3{
    text-align: center;
    font-size: 1em;
    margin-bottom: 5px;
}
.contentImgs{
    display:-webkit-box;
}
.contentImgs div{
    -webkit-box-flex:1;
}
.contentImgs img{
    width:97%;
}
.contentImgs div:last-child img{
    width:100%;
}
.contentOtherInfo{
    color:#dcdcdc;
    font-size: 0.75em;
    height: 35px;
    background: #ffffff;
    line-height: 35px;

}
.informationContainer {
    padding:8px;
}
.informationPanel{
    background: #ffffff;
    margin-bottom: 8px;
}
.storeInfo li{
    padding:8px 5px;
    display: -webkit-box;
    border-bottom: 1px solid #e0dfdf;
}
.storeInfo li:last-child{
    border-bottom: 0;
}
.storeInfo li div{
    /*-webkit-box-flex:1;*/
    width: 0;
    font-size: 0.875em;
}
.sideInfo{
    font-size: 0.75em !important;
}
.informationPanel .title{
    height: 30px;
    line-height: 30px;
    font-size: 0.875em;
}
.link_more{
    color:#2bb4d6;
    font-size: 0.75em;
    margin-right: 5px;
}
.netFriendCommentList li{
    position: relative;
    padding-left: 40px;
}
.netFriendCommentList img{
    position: absolute;
    top: 0;
    left: 10px;
}
.netFriendCommentList{
    font-size: 0.875em;
}
.netFriendCommentList li{
    border-bottom: 1px solid #e0dfdf;
}
.netFriendCommentList li:last-child{
    border-bottom: 0;
}
.netFriendCommentList .nickName{
    color: #2bb4d6;
    padding:10px 0 10px;
    font-size: 1em !important;
}
.netFriendCommentList .commentContent{
    color:#616161;
    font-size: 0.875em;
    line-height: 1.3;
    padding-bottom: 10px;
}
/**********content*************/